<p id="notice"><%= notice %></p>

<h1>Callers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Original title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @callers.each do |caller| %>
      <tr>
        <td><%= caller.name %></td>
        <td><%= caller.original_title %></td>
        <td><%= caller.notes %></td>
        <td><%= link_to 'Show', caller %></td>
        <td><%= link_to 'Edit', edit_caller_path(caller) %></td>
        <td><%= link_to 'Destroy', caller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caller', new_caller_path %>
